.App {
  text-align: center;
  background-color: #1C8380;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  border-radius: 6px;
  width: 8rem;
  margin-bottom: 1rem;
  padding: 0.4rem;
  margin-right: 1rem;

}
