.container {
  background-color: #126880;
  height: -webkit-fill-available;
  font-family: 'Spartan', ;
}
.button {
    height: 1rem;
    width: 1rem;
}

.menuUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E9E32C;
  }
  
  .menuLi {
    float: left;
  }
  
  .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .logOutButton {
    display: block;
    border-radius: 0;
    border: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
  }