table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: peru;
    color: black;
    margin-left: 4rem;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }