.netball-court {
    height: 44rem;
    width: 22rem;
    background-color: pink;
    position: relative;
}

.netball-court-children {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}