.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

img {
    transform: rotate(90deg);
    max-width: 100%;
    height: auto;
    opacity: 0.7;
    display: inline-flex;
    
  }

.teamText {
  width: 80%;
}

.teamnameInput {
  margin: 1rem;
  border-radius: 4px;
}

.playerDropdown {
  display: inline-flex;
}

.playerDropdown__shooters_one {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 5rem;
  border-radius: 4px;
}

.playerDropdown__shooters_two {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 5rem;
  border-radius: 4px;
}

.playerDropdown__centreCourt_one {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 5rem;
  border-radius: 4px;
}

.playerDropdown__centreCourt_two {
  position: absolute;
  top: 48%;
  right: 37%;
  width: 5rem;
  border-radius: 4px;
}

.playerDropdown__centreCourt_three {
  position: absolute;
  top: 65%;
  left: 5%;
  width: 5rem;
  border-radius: 4px;
}

.playerDropdown__defence_one {
  position: absolute;
  top: 65%;
  right: 5%;
  width: 5rem;
  border-radius: 4px;
}

.playerDropdown__defence_two {
  position: absolute;
  bottom: 10%;
  left: 35%;
  width: 5rem;
  border-radius: 4px;
}

.playerDropdown__bench_one {
  position: absolute;
  top: 40%;
  right: -37%;
  width: 8rem;
  border-radius: 4px;
}

.playerDropdown__bench_two {
  position: absolute;
  top: 46%;
  right: -37%;
  width: 8rem;
  border-radius: 4px;
}

.playerDropdown__bench_three {
  position: absolute;
  top: 52%;
  right: -37%;
  width: 8rem;
  border-radius: 4px;
}

.teamSubmit {
  padding: .75rem;
  margin: 1rem;
  border-radius: 4px;
}